body{
    background: #D0CFBB;
}
*{
    box-sizing: border-box;
    margin:0;
    padding: 0;

}

/* header style */

header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 300x 70px;
}

.logo{
    cursor: pointer;
}

.wrapper{
    list-style-type: none;
}

.wrapper li{
    display: inline-block;
    padding: 0 5px;
    margin: 0px;
}

.wrapper li a{
text-decoration: none;
transition: .9s;
color: black;
}

.wrapper li a:hover{
color: blue;
}

.connect{
    color: black;
    transition: .9s;
    margin-right: 3px;

}

.connect:hover{
    color: blue;
}

/* main style */

.main{

    display: flex;
    justify-content: center;
    padding: 70px 40px 30px 40px;
    font-size: 30px;
    margin: 5px;
   
}
.main i{

    font-weight: lighter;

}

main h2{
    display: flex;
    justify-content: center;
    padding: 0px 20px;
}
/* section style */

section{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

section .fas{
    padding: 15px;
    font-size: 150px;
}
.btn{

    padding: 15px;
    color: white;
    background-color: black;
    margin: 20px;
    transition: .09;
    

}
button:hover{

    background-color: #2b0303;
}

/* footer style */


footer{

    display: flex;
    justify-content: space-between;
    padding: 30px 15px;
    margin: 5px;
}
footer h1{
    font-weight: lighter;
    
}
.fab {
    font-size:50px;
}